ul#menu {
    padding: 5;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
	/*margin-top: 1000px;*/
    background-color: #008AB8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}

ul#menu li a:hover {
	color: black;
    background-color: #FFFFCC;
}