/*"All items with the #menu are for the header menu at the top of the page*/
ul#menu {
    padding: 5;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #008AB8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}

ul#menu li a:hover {
	color: black;
    background-color: #FFFFCC;
}

/*Makes item float to the center of the page*/
/*Not working currently*/
#centerthis
{
	text-align: center;
}

/*Makes button in the middle of the page*/
/*Not working currently*/
.floatingbuttons
{
	margin: auto;
	width: 99%;
	float: center;
	border-radius: 5px;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
    font-size: 18px;  
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h1
{
    text-align: center;
}

