/*"All items with the #menu are for the header menu at the top of the page*/
ul#menu {
    padding: 5;
}


/*.ui-mobile .type-home .ui-content { 
    background: white url("oldSuitcases.jpg"); 
    background-repeat: no-repeat; background-position: 50% 80%; /*50% 80% mozilla optimized*/ 
    /*background-attachment: fixed; 
    background-size: 50%; /*50% mozilla optimized */ 


.ui-page{
    background:url("oldSuitcases.jpg") no-repeat;
    background-size:cover;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #008AB8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}

ul#menu li a:hover {
	color: black;
    background-color: #FFFFCC;
}

/*Makes item float to the center of the page*/
/*Not working currently*/
#centerthis
{
	text-align: center;
}

/*Makes button in the middle of the page*/
/*Not working currently*/
.floatingbuttons
{
	margin: auto;
	width: 99%;
	float: center;
	border-radius: 5px;
}


#mainpage {
    background-color:transparent;
    color:black;
    text-align:center;
    padding:5px;
}
#menu {
    line-height:30px;
    background-color:transparent;
    height:400px;
    width:200px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
    font-size: 18px;  
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h1
{
    text-align: center;
}

